<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yasin LiveCode</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="row">
        <a class="navbar-brand" href="#">OLX</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Cari berdasarkan lokasi" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </li>
            <li class="nav-item dropdown">
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Temukan Mobil, Motor, atau alat electrronic impian Anda" aria-label="Search">
                </form>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Login/Daftar</a>
            </li>
            <li class="nav-item">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Jual</button>
            </li>
          </ul>
        </div>
      </div>      
    </nav>
    <section>
        <ul class="list-unstyled d-flex justify-content-start">
            <li class="mx-2"><a href="">Electronics</a></li>
            <li class="mx-2"><a href="">Mobil</a></li>
            <li class="mx-2"><a href="">Motor</a></li>
        </ul>
    </section>
    <section>
        <div><h2>Rekomendari Product</h2></div>
        <div></div>
    </section>
    {% for item in obj_mobil %}
    <section>
      <div class="container">
        <div class="row">
          <div>
            <div> {{ item.images }} </div>
            <div> {{ item.name }} </div>
          </div>
        </div>
      </div>
    </section>
    {% endfor %}
    {% for item in obj_motor %}
    <section>
      <div class="container">
        <div class="row">
          <div>
            <div> {{ item.images }} </div>
            <div> {{ item.name }} </div>
          </div>
        </div>
      </div>
    </section>
    {% endfor %}
    {% for item in obj_electronics %}
    <section>
      <div class="container">
        <div class="row">
          <div>
            <div> {{ item.images }} </div>
            <div> {{ item.name }} </div>
          </div>
        </div>
      </div>
    </section>
    {% endfor %}
</body>
</html>